// https://codepen.io/choogoor/pen/vLXyJd
@function setLongShadow($color, $length) {
    $value: 0 0 $color;

    @for $i from 1 through $length {
        $value: #{$value}, #{$i}px #{$i}px #{$color};
    }

    @return $value;
}

@mixin longShadow($color, $length:200) {
    text-shadow: setLongShadow($color, $length);
}


body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5rem;
}

$clr-grey: #3a3f4b;
$clr-red: #e3304c;

h2, h3 {
    margin: 4rem 0 2rem;
    color: $clr-red;
    font-weight: 900;
    text-align: center;
}

p, ol, ul {
    margin: 0 0 1rem;
}
p:last-of-type {
    margin: 0;
}

a {
    color: $clr-grey;
    &:hover {
        color: $clr-red;
    }
}

.top {
    background-color: $clr-grey;
    width: 100%;

    overflow-y: hidden;

    h1 {
        margin: 0;
        padding: 8rem 0;
        font-size: 7rem;
        font-weight: 900;
        text-align: center;
        color: white;
        @include longShadow(darken($clr-grey, 3%));

        @media (max-width: 40rem) {
            font-size: 4rem;
        }
    }
}

.page-wrapper {
    margin: 4rem auto;
    width: 36rem;

    box-sizing: border-box;

    @media (max-width: 40rem) {
        width: 100%;
        padding: 0 1rem;
    }
}

pre[class*="language-"] {
    margin: 2rem -6rem 2rem -6rem;
    box-sizing: border-box;

    @media (max-width: 52rem) {
        margin: 2rem auto;
    }
}


.change {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 0 4rem;

    &__meta {
        flex-basis: 20%;
        flex-shrink: 0;
    }
    .cdate {
        color: rgba(0, 0, 0, .57);
        font-size: .8125rem;
    }
    h4 {
        margin: 0;
        color: rgba(0, 0, 0, .67);
    }
}

dl {
    dt {
        margin: 0 0 .5rem;
        font-weight: 600;
        color: #373737;
    }
    dd {
        margin: 0 0 1rem;
    }
}
